.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__items{
    padding: 10px;
}

.dialog{
    margin-bottom: 5px;
}

.dialogs__items a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.dialogs__items .active{
    color: blue;
}

.messages{
    padding: 10px;
}

.message{
    color: white;
}